<h1>Articles#index</h1>
<%= Article.public_count %> articles and counting!

<% @articles.each  do |article| %>
<% if !article.archived? %>
  <h2>
    <a href="<%= article_path article %>"><%= article.title %></a>
  </h2>

  <div>
    <p><span><small><%= article.updated_at %></small></span></p>

    <div>
      <ul>
        <li>
          <a href="<%= edit_article_path article %>">Editer</a>
        </li>
        <li>
          <%= link_to "Delete", article_path(article), data: {
            turbo_method: "delete",
            turbo_confirm: "Voulez vous supprimer ?"
          } %>
        </li>
      </ul>
    </div>
  </div>

  <hr>
<% end %>
<% end %>

<%= link_to 'Créer un article', new_article_path %>