<h1><%= @article.title %></h1>
<p><small><%= @article.updated_at %></small></p>

<div>
  <%= sanitize @article.body %>
</div>

<hr>
<hr>

<h2>Laisser un avis</h2>
<%= render 'comments/form' %>


<hr>

<h2>Avis</h2>
<%= render @article.comments %>
